<h3>7日分の投稿数</h3>

  <table class="table table-bordered">
  <thead>
  <tr>
   <th>６日前</th>
   <th>５日前</th>
   <th>４日前</th>
   <th>３日前</th>
   <th>２日前</th>
   <th>１日前</th>
   <th>今日</th>
  </tr>
  </thead>
   <tbody>
    <tr>
      <td><%= @sixday_ago_book.count %></td>
      <td><%= @fiveday_ago_book.count %></td>
      <td><%= @fourday_ago_book.count %></td>
      <td><%= @threeday_ago_book.count %></td>
      <td><%= @twoday_ago_book.count %></td>
      <td><%= @yesterday_book.count %></td>
      <td><%= @today_book.count %></td>
     </tr>
   </tbody>
  </table>


 <canvas id="myLineChart" ></canvas>
  <script>
  $(document).on('turbolinks:load', function() {
  var ctx = document.getElementById("myLineChart");
  var myLineChart = new Chart(ctx, {
    /* グラフの種類 (bar、line、rader、pie、doughnut、polarArea、bubble などがある) */
    type: "line",
    data: {
      /* 各項目のラベル(上から時計回り) */
      labels: ["6日前","5日前","4日前", "3日前","2日前", "1日前", "今日" ],
      /* データの設定 */
      datasets: [ {
          /* グラフ全体のラベル */
          label: "投稿した本の数",
          /* グラフのデータ(上から時計回り) */
          data: [<%= @sixday_ago_book.count %>,
            <%= @fiveday_ago_book.count %>,
            <%= @fourday_ago_book.count %>,
            <%= @threeday_ago_book.count %>,
            <%= @twoday_ago_book.count %>,
            <%= @yesterday_book.count %>,
            <%= @today_book.count %> ],
          /* グラフを塗りつぶすかどうか（falseにすると枠線だけのグラフになる）*/
          /*fill: false,なくてよい*/
          /* 背景色 */
          /*backgroundColor: "rgba(54, 162, 235, 0.2)",*/
          /* 枠線色 */
          borderColor: "blue",
          /* ポイントを塗りつぶす色 */
          pointBackgroundColor: "blue",
          /* ポイントの枠線色 */
          pointBorderColor: "#fff",
          tension: 0.4
        }
        ],
    },

    options: {
          title: {
            display: true,
            text: '7日間の投稿数の比較'
          },
          responsive: true,
          scales: {
            y:{
              suggestedMin: 0,
              suggestedMax: 10
            },
            x:{
              stacked: true
            },
          },
        }
      });
    });
</script>
